@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
	font-family: outfit;
	src: url(../fonts/400.ttf);
	font-weight: 400;
}
@font-face {
	font-family: outfit;
	src: url(../fonts/500.ttf);
	font-weight: 500;
}
@font-face {
	font-family: outfit;
	src: url(../fonts/600.ttf);
	font-weight: 600;
}
@font-face {
	font-family: outfit;
	src: url(../fonts/700.ttf);
	font-weight: 700;
}